/*STYLESHEET FOR THE INDEX.HTML PAGE*/

/*ELEMENT STYLING*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d03237;
  font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchbar {
  float: right;
  background-color: #d03237;
  color: white;
  padding: 6px 10px;
  width: 120px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;
  border-bottom: white solid 2px;
  transition: 0.3s;
}




/*ANIMATION FOR SEARCHBAR*/
.searchbar::placeholder {
  color: white;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.searchbar:focus {
  width: 400px;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
  border-bottom: white solid 2px;
  outline: none;
}


/*ALERT CLASS*/
.alertClass {
  animation: blinkingText 1s infinite;
  color:white;
}

@keyframes blinkingText {
  from {
    color:black;
  }
  to {
    color: white;
  }
}


/*BUTTON STYLING*/
.btn-search {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
    sans-serif;
  font-size: 1.5em;
  padding-top: 5px;
  margin-right: 40px;
  margin-left:10px;
}

.buttonStyle {
  font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color:black;
  border:none;
  background-color: #d03237;
  font-weight: bold;
  font-size: 25px;
}

/*GAS STATION/RESULTS SECTION*/
.resultsSection {
  display:none;
}

.gasStationSection {
  display: none;
}

.gasStationResults {
  width:auto;
  height:25px;
  background-color: white;
  color:black;
  margin-bottom:15px;
}