/*STYLE SHEET FOR THE RESULTS.HTML PAGE*/


/*VARIABLES FOR COLORS INCASE THEY NEED TO BE EASILY CHANGED*/
:root {
    --primary-color:#d03237;
    --secondary-color: white;
    --tertiary-color: black;
}


/*BODY STYLE*/
body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.gasStationStyle {
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }




/*DIV CLASS FOR GAS STATION RESULTS NEARBY*/
.gasStationResults {
    background-color: var(--secondary-color);
    width: 100%;
    height: 65px;
    border-radius: 25px;
    margin-top:15px;
    padding:10px;
}

/*STLYE FOR SEARCH BAR AT TOP OF SCREEN*/
.searchBar {
    float: right;
    background-color: #d03237;
    color: white;
    padding: 6px 10px;
    width: 120px;
    border: none;
    margin-top: 1px;
    margin-right: 8px;
    font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
      sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-bottom: white solid 2px;
    transition: 0.3s;
  }


.btn-search {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
      sans-serif;
    font-size: 1.5em;
    padding-top: 5px;
    margin-right: 40px;
  }

  .buttonStyle {
    font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color:black;
    border:none;
    background-color: #d03237;
    font-weight: bold;
    font-size: 15px;
  }

  .alertClass {
      color:white;
      justify-content: center;
      text-align: center;
      margin-top:0;
      font-weight: normal;
  }