/*STYLE SHEET FOR THE RESULTS.HTML PAGE*/


/*VARIABLES FOR COLORS INCASE THEY NEED TO BE EASILY CHANGED*/
:root {
    --primary-color:#d03237;
    --secondary-color: white;
    --tertiary-color: black;
}


/*BODY STYLE*/
body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.gasStationStyle {
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


/*DIV CLASS FOR GAS STATION RESULTS NEARBY*/
.gasStationResults {
    background-color: var(--secondary-color);
    width: 40%;
    height: 65px;
    border-radius: 25px;
    margin-top:15px;
    padding:10px;
}