/*MM IS WORKING ON THIS*/

:root {
    --primary-color:#d03237;
    --secondary-color: white;
    --tertiary-color: black;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.gasStationStyle {
    background-color: white;
    margin-top: 20px;
}
